body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #b22;
    padding-top: 140px;
}

div {
    margin: 4px;
}

header {
    font-size: 80px;
    text-align: center;
    color: white;
}

main {
    padding: 20px 100px 20px 100px;
    background-color: whitesmoke;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type=text] {
    display: block;

    border: 1px solid #333;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    margin: auto auto 6px;
}

h1 {
    margin: 10px;
    font-size: 46px;
    font-weight: bold;
}

.div-border {
    margin: auto;
    padding: 4px 0 4px 0;
    border-top: 6px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.content {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

.loading-text {

}

.icon-button {
    border: none;
    border-radius: 4px;
    font-size: 20px;
    text-align: left;
    background-color: #822;
    color: whitesmoke;
    min-height: 36px;
    min-width: 128px;

    padding: 0 10px 0 24px;
    margin: 0 2px 0 2px;
}

.icon-button:hover {
    background-color: #622;
}

.icon-button-icon {
    margin-top: 2px;
}

.wide-button {
    min-width: 256px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.main-content {
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.users {
    flex-grow: 1;
    min-width: 260px;
    /*border: 1px solid #999;*/
    /*border-radius: 8px;*/
    text-align: center;

}

.volume-width {

}

.mute-button {
    margin-left: 10px;
    cursor: pointer;
}

.volume-slider {

}

.controls {
    flex-grow: 1;
    min-width: 260px;
    display: inline-block;
    text-align: center;
}

.stop-button {

}