body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #b22;
    padding-top: 140px;
}

header {
    font-size: 80px;
    text-align: center;
    color: white;
}

main {
    padding: 20px 100px 20px 100px;
    background-color: whitesmoke;
    text-align: center;
}

.div-border {
    margin: auto;
    padding: 4px 0 4px 0;
    border-top: 6px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

div {
    margin: 4px;
}

label {
    font-weight: bold;
}

input[type=text] {
    display: block;

    border: 1px solid #333;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    margin: auto auto 6px;
}

.content {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

.icon-button {
    border: none;
    border-radius: 4px;
    font-size: 20px;
    text-align: left;
    background-color: #822;
    color: whitesmoke;
    min-height: 36px;
    min-width: 128px;

    padding: 0 10px 0 24px;
    margin: 0 2px 0 2px;
}

.icon-button:hover {
    background-color: #622;
}

.wide-button {
    min-width: 256px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.main-content {
    background-color: whitesmoke;
    padding: 10px;
}

.controls {
    display: inline-block;
}

.users {
    display: inline-block;
    border: 1px solid #333;
}